// Embedded content

// Audio

audio {
  // Add your styles.
}

// Image
//
// An `<img>` element represents an image.

img {
  // Add your styles.
}

img,
svg {
  // Suppress the space beneath the baseline
  // vertical-align: bottom;

  // Responsive images
  max-width: 100%;
  height: auto;
}

// Video

video {
  // Add your styles.
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

  .photo {
    position: absolute;
    top: -60px;
  }

}


