// Colors
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$shadow-color: rgba(0, 0, 0, .2);

$bg: #282A36;
$fg: #F8F8F2;
$black: #121212;
$error: #FF5555;
$error-alt: #FF6E6E;
$success: #50FA7B;
$success-alt: #69FF94;
$warning: #F1FA8C;
$warning-alt: #FFFFA5;
$info: #8BE9FE;
$active: #6272A4;
$string: #FFB86C;
$purple: #D6ACFF;
// Fonts
$serif-primary: 'Fira Code',
'Times New Roman',
Times,
serif;
$serif-secondary: Palatino,
'Palatino LT STD',
'Palatino Linotype',
'Book Antiqua',
'Georgia',
serif;
$sans-serif: 'Raleway',
sans-serif;
$monospaced: Menlo,
Monaco,
monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}