// Zen custom styles

// Page

body {
  background-color: $backdrop;
  color: $text;
  font-size: 14px;
}

.page {
  background-color: $body-bg;
}

.header {
  height: 60px;
  background: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  @include margin-top(1.5);
  @include padding(.5 0);
  text-align: center;
  background: $black;

  p {
    margin: 0;
  }
}

// Apply smaller text to blocks, footer etc.

th,
label,
legend,
figcaption {
  @include type-layout(s, 1);

  @include respond-to(xxl) {
    @include type-layout(s-2, 1);
  }
}

.list-view {
  &:after {
    content: '<!--  -->';
    text-align: center;
    margin: 0 auto;
    display: block;
    color: $green;
  }
}

.language-selector,
article > header,
.content-dates,
.footer {
  @include type-layout(xs, 1);

  @include respond-to(xxl) {
    @include type-layout(xs-2, 1);
  }
}

// Apply heading font stack to heading, labels etc.

h1,
h2,
h3,
th,
nav,
label,
legend,
article > header,
.content-dates,
.header,
.footer {
  @include typeface(headings);
  color: $headings;
  font-weight: 700;
}

p {
  color: $text;
  font-size: 14px;
}

article > .content,
aside {
  ul {
    display: block;
    padding: 0;
    margin-top: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0;
    }
  }

  ol {
    @extend %ol-straight-left;
  }
}

article {

  & > header {
    color: $text-meta;

    p {
      @include margin(.2 0);
    }

  }

  .submitted,
  .tags {
    @include respond-to(l) {
      display: inline-block;
      padding-right: 1rem;
    }
  }

  .tags {
    ul {
      margin: 0;
      padding: 0;
    }

    ul,
    li {
      display: inline;
    }

    li {
      list-style-type: none;
    }

    a {
      @include padding-right(.2);
      text-decoration: none;
    }
  }

  .content-dates {
    color: $text-meta;
    text-align: right;
  }

  code {
    @include type-layout(xs, 1);
    overflow-wrap: break-word;

    @include respond-to(xxl) {
      @include type-layout(xs-2, 1);
    }
  }

  pre {
    color: $code;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid $border;
    background-color: $text-bg;
    overflow: auto;
    max-height: 300px;
    max-width: 90vw;

    &.chroma {
      max-height: initial;
      overflow-x: scroll;
    }

    & > code {
      display: inline-block;
      white-space: pre;
    }
  }

  .js-clipboard-button {
    display: block;
  }
}

.title-submitted {
  margin-bottom: 0;
}

figure {
  &.image {
    figcaption {
      @include respond-to(s) {
        display: table-caption;
        caption-side: bottom;
      }

      h4,
      p {
        margin: 0;
      }
    }

    @include respond-to(s) {
      display: table;

      img {
        display: block;
      }

      &.left {
        @include padding(0 .5 .5 0);
        margin: 0;
        float: left;
        clear: both;

        figcaption {
          @include padding(0 .5 .5 0);
        }
      }

      &.right {
        @include padding(0 0 .5 .5);
        margin: 0;
        float: right;
        clear: both;

        figcaption {
          @include padding(0 0 .5 .5);
        }
      }
    }
  }

  &.podcast {
    audio {
      width: 95%;
    }
  }
}

// Navigation

.main-menu {
  outline: 0;

  li {
    @include margin-right(.5);
    padding: 0;
  }

  a {
    display: block;
    color: $yellow;
    padding: 2px 8px;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $orange;
    }

    &:active,
    &.active {
      color: $orange;
      text-decoration: line-through;
      &:before {
        content: '{ ';
      }
      &:after {
        content: ' }';
      }
    }
  }
}

.sidebar {
  padding: 20px 0;
  .title {
    color: $cyan;
    @include type-layout(l, 1.2);
    margin: 0;
  }

  .menu-highlights {
    a {
      text-decoration: none;
      color: $yellow;

      &:visited,
      &:active,
      &:hover,
      &.active {
        color: $orange;
        text-decoration: line-through;
      }
    }
  }
}

// Search

.search-form {
  @include padding(.5 0);
}

.search-text {
  @include type-layout(l, 1);
}

// Form

.content {
  input,
  textarea {
    @include margin-bottom(.75);
    width: 92%;

    &:required+span::after {
      content: ' *';
      color: $red;
      vertical-align: top;
    }

    &:not(:placeholder-shown):valid {
      background-color: $status-bg;
    }

    &:not(:placeholder-shown):invalid {
      background-color: $error-bg;
    }
  }
}

.js-submitted {
  input,
  textarea {
    &:valid {
      background-color: $status-bg;
    }

    &:invalid {
      background-color: $error-bg;
    }
  }
}
